---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token f003f065a6dbceb622561eb903793a648048743f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4903'
      X-Ratelimit-Reset:
      - '1537826020'
      Etag:
      - W/"89179cee01f12580d05f3678595fab95"
      X-Oauth-Scopes:
      - delete_repo, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":150171837,"node_id":"MDEwOlJlcG9zaXRvcnkxNTAxNzE4Mzc=","name":"towers","full_name":"towers-of-hanoi/towers","private":false,"owner":{"login":"towers-of-hanoi","id":43499066,"node_id":"MDQ6VXNlcjQzNDk5MDY2","avatar_url":"https://avatars1.githubusercontent.com/u/43499066?v=4","gravatar_id":"","url":"https://api.github.com/users/towers-of-hanoi","html_url":"https://github.com/towers-of-hanoi","followers_url":"https://api.github.com/users/towers-of-hanoi/followers","following_url":"https://api.github.com/users/towers-of-hanoi/following{/other_user}","gists_url":"https://api.github.com/users/towers-of-hanoi/gists{/gist_id}","starred_url":"https://api.github.com/users/towers-of-hanoi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/towers-of-hanoi/subscriptions","organizations_url":"https://api.github.com/users/towers-of-hanoi/orgs","repos_url":"https://api.github.com/users/towers-of-hanoi/repos","events_url":"https://api.github.com/users/towers-of-hanoi/events{/privacy}","received_events_url":"https://api.github.com/users/towers-of-hanoi/received_events","type":"User","site_admin":false},"html_url":"https://github.com/towers-of-hanoi/towers","description":null,"fork":false,"url":"https://api.github.com/repos/towers-of-hanoi/towers","forks_url":"https://api.github.com/repos/towers-of-hanoi/towers/forks","keys_url":"https://api.github.com/repos/towers-of-hanoi/towers/keys{/key_id}","collaborators_url":"https://api.github.com/repos/towers-of-hanoi/towers/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/towers-of-hanoi/towers/teams","hooks_url":"https://api.github.com/repos/towers-of-hanoi/towers/hooks","issue_events_url":"https://api.github.com/repos/towers-of-hanoi/towers/issues/events{/number}","events_url":"https://api.github.com/repos/towers-of-hanoi/towers/events","assignees_url":"https://api.github.com/repos/towers-of-hanoi/towers/assignees{/user}","branches_url":"https://api.github.com/repos/towers-of-hanoi/towers/branches{/branch}","tags_url":"https://api.github.com/repos/towers-of-hanoi/towers/tags","blobs_url":"https://api.github.com/repos/towers-of-hanoi/towers/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/towers-of-hanoi/towers/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/towers-of-hanoi/towers/git/refs{/sha}","trees_url":"https://api.github.com/repos/towers-of-hanoi/towers/git/trees{/sha}","statuses_url":"https://api.github.com/repos/towers-of-hanoi/towers/statuses/{sha}","languages_url":"https://api.github.com/repos/towers-of-hanoi/towers/languages","stargazers_url":"https://api.github.com/repos/towers-of-hanoi/towers/stargazers","contributors_url":"https://api.github.com/repos/towers-of-hanoi/towers/contributors","subscribers_url":"https://api.github.com/repos/towers-of-hanoi/towers/subscribers","subscription_url":"https://api.github.com/repos/towers-of-hanoi/towers/subscription","commits_url":"https://api.github.com/repos/towers-of-hanoi/towers/commits{/sha}","git_commits_url":"https://api.github.com/repos/towers-of-hanoi/towers/git/commits{/sha}","comments_url":"https://api.github.com/repos/towers-of-hanoi/towers/comments{/number}","issue_comment_url":"https://api.github.com/repos/towers-of-hanoi/towers/issues/comments{/number}","contents_url":"https://api.github.com/repos/towers-of-hanoi/towers/contents/{+path}","compare_url":"https://api.github.com/repos/towers-of-hanoi/towers/compare/{base}...{head}","merges_url":"https://api.github.com/repos/towers-of-hanoi/towers/merges","archive_url":"https://api.github.com/repos/towers-of-hanoi/towers/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/towers-of-hanoi/towers/downloads","issues_url":"https://api.github.com/repos/towers-of-hanoi/towers/issues{/number}","pulls_url":"https://api.github.com/repos/towers-of-hanoi/towers/pulls{/number}","milestones_url":"https://api.github.com/repos/towers-of-hanoi/towers/milestones{/number}","notifications_url":"https://api.github.com/repos/towers-of-hanoi/towers/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/towers-of-hanoi/towers/labels{/name}","releases_url":"https://api.github.com/repos/towers-of-hanoi/towers/releases{/id}","deployments_url":"https://api.github.com/repos/towers-of-hanoi/towers/deployments","created_at":"2018-09-24T21:39:04Z","updated_at":"2018-09-24T21:39:32Z","pushed_at":"2018-09-24T21:39:22Z","git_url":"git://github.com/towers-of-hanoi/towers.git","ssh_url":"git@github.com:towers-of-hanoi/towers.git","clone_url":"https://github.com/towers-of-hanoi/towers.git","svn_url":"https://github.com/towers-of-hanoi/towers","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Mon, 15 Jan 2018 00:00:00 GMT
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"name":"tmp/somerepo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token f003f065a6dbceb622561eb903793a648048743f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4902'
      X-Ratelimit-Reset:
      - '1537826020'
      Etag:
      - '"8fcb89c4a46d8926582ccf8e713c10d9"'
      X-Oauth-Scopes:
      - delete_repo, repo
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      Location:
      - https://api.github.com/repos/towers-of-hanoi/tmp-somerepo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":150172000,"node_id":"MDEwOlJlcG9zaXRvcnkxNTAxNzIwMDA=","name":"tmp-somerepo","full_name":"towers-of-hanoi/tmp-somerepo","private":false,"owner":{"login":"towers-of-hanoi","id":43499066,"node_id":"MDQ6VXNlcjQzNDk5MDY2","avatar_url":"https://avatars1.githubusercontent.com/u/43499066?v=4","gravatar_id":"","url":"https://api.github.com/use[...]
